@import "tailwindcss";

/* THE NATIVE SCROLL RESET */
html, body, #root {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: #020617; 
  /* Notice we REMOVED overflow: hidden and max-height completely! */
}